/lib/data/korean_dict.db filter=lfs diff=lfs merge=lfs -text
sqlite3.db filter=lfs diff=lfs merge=lfs -text
korean_dict.db filter=lfs diff=lfs merge=lfs -text
pcfg_lib/data/korean_dict.db filter=lfs diff=lfs merge=lfs -text
